<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram clone </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <!-- starting nav section of instagram -->
        <nav>
            <div class="navbar">
                <div class="instagram-text-logo">
                    <img src="https://i.postimg.cc/qMFTcDw1/instagram-text.png" id="white-color" alt="">
                </div>
                <div class="sub-section" id="clicked">
                    <i class="fa-solid fa-house"></i>
                    <a href="#">Dark-mode</a>
                </div>
                <div class="sub-section">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="/search">Search</a>
                </div>
                <div class="sub-section" id="hidden1">
                    <i class="fa-regular fa-compass"></i>
                    <a href="#">Explore</a>
                </div>
                <div class="sub-section">
                    <i class="fa-solid fa-clapperboard"></i>
                    <a href="#">Reels</a>
                </div>
                <div class="sub-section" id="hidden1">
                    <i class="fa-regular fa-message"></i>
                    <a href="#">Messages</a>
                </div>
                <div class="sub-section" id="hidden2">
                    <i class="fa-regular fa-heart"></i>
                    <a href="#">Notification</a>
                </div>
                <div class="sub-section" >
                    <i class="fa-solid fa-square-plus"></i>
                    <a href="/upload">Create</a>
                </div>
                    <div class="sub-section">
                        <div class="profile-img">
                            <img src="/images/uploads/<%= user.profileimage%>" alt="">
                        </div>
                        <a href="/profile">Profile</a>

                    </div>
               
                <div class="sub-section">
                    <i class="ri-logout-box-r-line"></i>
                    <a href="/logout">logout</a>
                </div>
                <div class="menu-section " id="hidden">
                    <i class="fa-solid fa-bars"></i>
                    <a href="#">More</a>
                </div>
            </div>

        </nav>
        <div class="middle-section">
            <div class="post-section">
                <div class="nav-hidden">
                    <div class="nav-hidden-logo" id="white-2color">
                        <img src="https://i.postimg.cc/qMFTcDw1/instagram-text.png" alt="">
                    </div>
                    <div class="nav-hide-2">
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-paper-plane"></i>
                    </div>
                </div>
                <div class="story-section">
                    <div class="story">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/236x/c9/ec/19/c9ec19bdd57f588822bbc64065c919b6.jpg" alt="">
                        </div>
                        <span>Mahamaly</span>
                    </div>
                    <div class="story">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/736x/72/22/b9/7222b9335e0df8cb45b7e19b2c68dede.jpg" alt="">
                        </div>
                        <span>{ 𝙖𝙨𝙖𝙙 }</span>
                    </div>
                    <div class="story" id="story-2">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/564x/c7/69/51/c7695139022d3c6771abf0ce2f3ade5a.jpg" alt="">
                        </div>
                        <span>Rabiiyyy</span>
                    </div>
                    <div class="story" id="story-3">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/564x/a1/65/bd/a165bd51f1af3543f00e877de5ba9c75.jpg" alt="">
                        </div>
                        <span>_.Hadiii</span>
                    </div>
                    <div class="story" id="story-4">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/236x/44/43/14/444314990584ec4e9e26aaeb3477b558.jpg" alt="">
                        </div>
                        <span>fatii_23</span>
                    </div>
                    <div class="story" id="story-5">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/564x/a4/29/ab/a429abae64828fa533344457bfb5e578.jpg" alt="">
                        </div>
                        <span>Aleezy(:</span>
                    </div>
                    <div class="story" id="story-6">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/564x/84/45/e8/8445e8135e8d5265d8f7441135801511.jpg" alt="">
                        </div>
                        <span>Ali's code</span>
                    </div>
                    <div class="story" id="story-7">
                        <div class="story-image">
                            <img src="https://i.pinimg.com/736x/82/55/95/82559530d3901d5831cea08d0ce5a43b.jpg" alt="">
                        </div>
                        <span>Hoor</span>
                    </div>
                </div>
            </div>
            <div class="post-section">
                <% posts.reverse().forEach(function(elem){ %>
                    <div class="post-area">
                        <div class="post-main">
                            <div class="post-header">
                                <div class="post-left-header">
                                    <div class="post-image">
                                        <img src="/images/uploads/<%= elem.user.profileimage%>" alt="">
                                    </div>
                                    <p class="post-username">
                                        <%= elem.user.username %>
                                    </p>
                                    <i class="fa-solid fa-certificate"></i>
                                    <span class="one-day"> . 1h </span>
                                </div>
                                <i class="fa-solid fa-grip-lines"></i>
                            </div>
                            <div class="post-main-image" style="overflow: hidden;">
                                <img src="/images/uploads/<%= elem.picture%>" alt="">
                            </div>
                            <div class="post-fotter">
                                <div class="post-fotter-left">
                                    <a href="/like/post/<%= elem._id %>">
                                        <% if(elem.likes.indexOf(user._id) !== -1){ %>
                                            <i class="fa-solid fa-heart" style="color: red;"></i>
                                      <% } else { %>
                                        <i class="fa-regular fa-heart"></i>
                                    <%  } %>
                                    </a>
                                    <i class="fa-regular fa-message"></i>
                                    <i class="fa-regular fa-paper-plane"></i>
                                </div>
                                <i class="fa-regular fa-bookmark"></i>
                            </div>
                            <div class="post-description">
                                    <p class="post-liked"><%= elem.likes.length %> Likes</p>
                                <p class="title"><span>
                                        <%= elem.user.username%>
                                    </span>
                                    <%= elem.caption%>
                                </p>
                                <p class="comments"> view all comments...</p>
                            </div>
                        </div>


                    </div>
                    <% }) %>
            </div>
        </div>
        <div class="follow-section">
            <div class="profile-follow profile-foolow-hovering">
                <div class="profile-follow-left">
                    <div class="profile-follow-image">
                        <img src="https://i.postimg.cc/zB3mRnhs/apy-logo.png" alt="">
                    </div>
                    <div class="profile-follow-content">
                        <p class="profile-id">Aasu_Yadav_59</p>
                        <p class="profile-name">Aaasu Yadav</p>
                    </div>
                </div>
                <a href="#" class="follow">switch</a>
            </div>
            <div class="suggestion-follow">
                <p class="suggestion">Suggested for you</p>
                <a href="#" class="see-all">see all</a>
            </div>
            <div class="profile-follow profile-foolow-hovering">
                <div class="profile-follow-left">
                    <div class="profile-follow-image randomimage">
                        <img src="https://i.pinimg.com/736x/44/1a/4c/441a4cb0b1ca64c938941bb63999a956.jpg" alt="">
                    </div>
                    <div class="profile-follow-content">
                        <p class="profile-id">Ali</p>
                        <p class="profile-name">Followed by shiv_s177</p>
                    </div>
                </div>
                <a href="#" class="follow">follow</a>
            </div>
            <div class="profile-follow profile-foolow-hovering">
                <div class="profile-follow-left">
                    <div class="profile-follow-image randomimage">
                        <img src="https://i.pinimg.com/564x/04/bb/09/04bb09562695b8d65e7dc75ac7bf0b0f.jpg" alt="">
                    </div>
                    <div class="profile-follow-content">
                        <p class="profile-id">Hadia</p>
                        <p class="profile-name">Followed by shriiiiii_89_ + 2 more
                        </p>
                    </div>
                </div>
                <a href="#" class="follow">follow</a>
            </div>
            <div class="profile-follow profile-foolow-hovering">
                <div class="profile-follow-left">
                    <div class="profile-follow-image randomimage">
                        <img src="https://i.pinimg.com/564x/30/b8/cd/30b8cdc02d2ae4da50a92b802838b066.jpg" alt="">
                    </div>
                    <div class="profile-follow-content">
                        <p class="profile-id">Mahamaly</p>
                        <p class="profile-name">Followed by ajeetyadav8242 +....
                        </p>
                    </div>
                </div>
                <a href="#" class="follow">follow</a>
            </div>
            <div class="profile-follow profile-foolow-hovering">
                <div class="profile-follow-left">
                    <div class="profile-follow-image">
                        <img src="https://i.pinimg.com/564x/1b/ca/85/1bca85fb2a8566ef088dfc6483183942.jpg" alt="">
                    </div>
                    <div class="profile-follow-content">
                        <p class="profile-id">@Asad</p>
                        <p class="profile-name">Followed by ravish_thakur31
                        </p>
                    </div>
                </div>
                <a href="#" class="follow">follow</a>
            </div>
            <div class="profile-follow profile-foolow-hovering">
                <div class="profile-follow-left">
                    <div class="profile-follow-image randomimage">
                        <img src="https://i.pinimg.com/236x/61/0a/eb/610aeba42ca92c8225b6e83754e584cd.jpg" alt="">
                    </div>
                    <div class="profile-follow-content">
                        <p class="profile-id">Rabiii-khan</p>
                        <p class="profile-name">New to Instagram</p>
                    </div>
                </div>
                <a href="#" class="follow">follow</a>
            </div>
            <p class="copyrights"> All copyrights &copy; reserved to <span
                    style="color: rgb(5, 73, 218);font-size: 17px;font-weight: 600;">Maham Ali</span></p>
        </div>
    </div>

    </div>
    <script src="script.js"></script>
    <script>
        var dark = document.getElementById("clicked");
        var white = document.getElementById("white-color");
        var lol = document.getElementById("white-2color");
        dark.onclick = function () {
            document.body.classList.toggle("dark-mode");
            if (document.body.classList.contains("dark-mode")) {
                white.style.filter = "brightness(5)";
                lol.style.filter = "brightness(5)";
            }
            else {
                white.style.filter = "none";
                lol.style.filter = "none";
            }
        }

    </script>
</body>

</html>